
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your order receipt, <%= @order.email%></h1>
    <p>
      You have successfully purchased your items,
      your order id is : <%= @order.id%>

      <br>
    </p>
    <p>
      Thanks for ordering and have a great day!.
    </p>

  </body>
</html>
